In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# set working directory

os.chdir('/Users/timothymiller/Documents/GitHub/World-Billionaires')

In [7]:
df = pd.read_csv('Data/The Worlds Billionaires Dataset 1987-2022.csv', encoding='iso-8859-1')

In [8]:
df

,Year,Yearly ranking,Name,Net worth (USD)\n(billion),Age,Nationality,Source(s) of wealth
0,2022,1,Elon Musk,$219 billion,50,United States,"Tesla, SpaceX"
1,2022,2,Jeff Bezos,$177 billion,58,United States,Amazon
2,2022,3,Bernard Arnault & family,$158 billion,73,France,LVMH
3,2022,4,Bill Gates,$129 billion,66,United States,Microsoft
4,2022,5,Warren Buffett,$118 billion,91,United States,Berkshire Hathaway
...,...,...,...,...,...,...,...
357,1987,6,Hans and Gad Rausing,$6.0 billion,/,Sweden,/
358,1987,7,Paul Reichmann,$6.0 billion,/,Canada,/
359,1987,8,Yohachiro Iwasaki [ja],$5.6 billion,/,Japan,/
360,1987,9,Kenneth Thomson,$5.4 billion,/,Canada,/
361,1987,10,Keizo Saji,$4.0 billion,/,Japan,/

In [9]:
df['Nationality'].unique()

array(['\xa0United States', '\xa0France', '\xa0India', '\xa0Spain',
       '\xa0Mexico', '\xa0Hong Kong', '\xa0Brazil', '\xa0Sweden',
       '\xa0Germany', '\xa0Russia', '\xa0Canada', '\xa0Saudi Arabia',
       '\xa0Japan', '\xa0Taiwan', '\xa0Switzerland', '\xa0South Korea',
       '\xa0United Kingdom'], dtype=object)